# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/

# Environment variables file
.env

# VS Code settings
.vscode/

# Logs
*.log


# Python packaging
*.egg-info/
dist/
build/

# IDE/editor files
.idea/
*.swp
